
<!-- =================================================================== -->
<!--                                                                     -->
<!-- this is top navigation bar                                          -->
<!-- navbar-inverse is black. navbar-static-top make the nav bar square  -->
<!--                                                                     -->
<!-- =================================================================== -->         
<div class = "navbar navbar-inverse  navbar-fixed-top">
	<!-- class container make sure the content stay in proper places -->
    <div class = "container">
        <!-- navbar-brand class for nav tittle -->   
        <a href = "#" class = "navbar-brand">Tech Site</a>
       
                       
        <!-- =================================================================== -->
        <!--                                                                     -->
        <!--  a button with navbar-toggle class                                  -->
        <!--  the data-target point to a div below.                              -->
        <!--  this toggle class will show below div when screen is phone size    -->
        <!--  Test it just make browser as phone size!                           -->
        <!--                                                                     -->
        <!-- =================================================================== --> 
        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <!-- three white icon bar -->
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
        </button>
       
        <div class = "collapse navbar-collapse navHeaderCollapse">
       
            <ul class = "nav navbar-nav navbar-right">
       			<!-- active class will have bright color -->
                <li class = "active"><a href = "#">Home</a></li>
                <li><a ng-click="read()">Blog</a></li>
                <li class = "dropdown">
                    <!-- use caret class to show a small icon for drop down -->   
                    <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Social Media <b class = "caret"></b></a>
                    <ul class = "dropdown-menu">
                            <li><a href = "#">Twitter</a></li>
                            <li><a href = "#">Facebook</a></li>
                            <li><a href = "#">Google+</a></li>
                            <li><a href = "#">Instagram</a></li>
                    </ul>
               
                <li><a href = "#">About</a></li>
                <!-- refrece to id = contact dialog block in the bottom of the code -->
                <li><a href = "#contact" data-toggle="modal">Contact</a></li>
           
            </ul>
       
        </div>
           
    </div>
</div>
        
        
<div class = "container">
       
                       
        <!-- =================================================================== -->
        <!--                                                                     -->
        <!--  use jumbotron class to show large text                             -->
        <!--                                                                     -->
        <!-- =================================================================== --> 
        <div class = "jumbotron">
                <center><h1>Hello, World!</h1>
                <p>As a best practice, we highly recommend using the element whenever possible to ensure matching cross-browser rendering.</p>
                <a class = "btn btn-default">Watch Now!</a>
                <a class = "btn btn-info">Tweet it!</a></center>
        </div>
   
</div>
    
                  
<div class = "container">
   	<!-- total col-md-x should not be greater than 12 -->
    <div class = "row">
       
        <div class = "col-md-3">
           
            <h3><a href = "#">$500 Gaming PC Build</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            <a href = "#" class = "btn btn-default">Read More</a>
           
        </div>
       
        <div class = "col-md-3">
           
            <h3><a href = "#">$500 Gaming PC Build</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            <a href = "#" class = "btn btn-default">Read More</a>
           
        </div>
       
        <div class = "col-md-3">
           
            <h3><a href = "#">$500 Gaming PC Build</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            <a href = "#" class = "btn btn-default">Read More</a>
           
        </div>
       
        <div class = "col-md-3">
           
            <h3><a href = "#">$500 Gaming PC Build</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            <a href = "#" class = "btn btn-default">Read More</a>
           
        </div>
       
    </div>
   
</div>
             
        